
<div id= "maincontain"><div id= "inner">

<%=image_tag('mitt1.png', :class => "1")%>
<%=image_tag('mitt2.png', :class => "2")%>
<%=image_tag('mitt3.png', :class => "3")%>
<%=image_tag('mitt4.png', :class => "4")%>
<%=image_tag('mitt5.png', :class => "5")%>
<%=image_tag('mitt6.png', :class => "6")%>
<%=image_tag('mitt7.png', :class => "7")%>



<table>
<tr id="sound1">
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	
</tr>
<tr id="sound2">
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	
</tr >
<tr id= "sound3">
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	
</tr>
<tr id="sound4">
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	
</tr>
<tr id="sound5">
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	
</tr>
<tr id="sound6">
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	
</tr>
<tr id="sound7">
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	
</tr>
<tr id="sound8">
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	
</tr>


</table>
</div>
</div>








