
<section>
	<header id="romney">
		<%=image_tag('gifromney1.png', :class =>"Title")%>
	</header>
</section>

<section id= "maincontain">

		<div id= "inner">
			<% [1,2,3,4,5,6,7,8].each do |f|%>
				<%=image_tag("mitt"+f.to_s+".png", :class => f.to_s)%>
			<%end%>

			<%= render 'step_sequencer' %>
		</div>
	
	<div id= "buttons">
		<div class="btn-group">


			<div id="slider"></div>


		</div>
		<div id="randclear">
			<button class="shiny-blue" id= "clear">Clear</button>
			<button class= "shiny-blue" id= "Random">Randomize</button>
			<button class="shiny-blue" id= 'auto'>Auto</button>
		</div>
	</div>
</section>


<footer id= "socialmedia">
	<%= render 'twitter' %>
	<%= render 'facebook' %>
	<%= render 'stumble' %>
</footer>




 <div id="handle"><a id = "link" href= "mailto:mikehmorrissey@gmail.com"> mikehmorrissey</a></div>
 
 











