

<div id="romney"><%=image_tag('gifromney1.png', :class =>"Title")%></div><div id= "maincontain">

	<div id= "inner">

<%=image_tag('mitt1.png', :class => "1")%>
<%=image_tag('mitt2.png', :class => "2")%>
<%=image_tag('mitt3.png', :class => "3")%>
<%=image_tag('mitt4.png', :class => "4")%>
<%=image_tag('mitt5.png', :class => "5")%>
<%=image_tag('mitt6.png', :class => "6")%>
<%=image_tag('mitt7.png', :class => "7")%>



<table>
<tr id="sound1">
	<td class="col1"></td>
	<td class= "col2"></td>
	<td class ="col3"></td>
	<td class = "col4"></td>
	<td class = "col5"></td>
	<td class = "col6"></td>
	<td class = "col7"></td>
	<td class = "col8"></td>
	
</tr>
<tr id="sound2">
	<td class="col1"></td>
	<td class= "col2"></td>
	<td class ="col3"></td>
	<td class = "col4"></td>
	<td class = "col5"></td>
	<td class = "col6"></td>
	<td class = "col7"></td>
	<td class = "col8"></td>
	
</tr >
<tr id= "sound3">
	<td class="col1"></td>
	<td class= "col2"></td>
	<td class ="col3"></td>
	<td class = "col4"></td>
	<td class = "col5"></td>
	<td class = "col6"></td>
	<td class = "col7"></td>
	<td class = "col8"></td>
	
</tr>
<tr id="sound4">
	<td class="col1"></td>
	<td class= "col2"></td>
	<td class ="col3"></td>
	<td class = "col4"></td>
	<td class = "col5"></td>
	<td class = "col6"></td>
	<td class = "col7"></td>
	<td class = "col8"></td>
</tr>
<tr id="sound5">
	<td class="col1"></td>
	<td class= "col2"></td>
	<td class ="col3"></td>
	<td class = "col4"></td>
	<td class = "col5"></td>
	<td class = "col6"></td>
	<td class = "col7"></td>
	<td class = "col8"></td>
	
</tr>
<tr id="sound6">
	<td class="col1"></td>
	<td class= "col2"></td>
	<td class ="col3"></td>
	<td class = "col4"></td>
	<td class = "col5"></td>
	<td class = "col6"></td>
	<td class = "col7"></td>
	<td class = "col8"></td>
	
</tr>
<tr id="sound7">
	<td class="col1"></td>
	<td class= "col2"></td>
	<td class ="col3"></td>
	<td class = "col4"></td>
	<td class = "col5"></td>
	<td class = "col6"></td>
	<td class = "col7"></td>
	<td class = "col8"></td>
	
</tr>
<tr id="sound8">
	<td class="col1"></td>
	<td class= "col2"></td>
	<td class ="col3"></td>
	<td class = "col4"></td>
	<td class = "col5"></td>
	<td class = "col6"></td>
	<td class = "col7"></td>
	<td class = "col8"></td>
	
</tr>


</table>
</div>
<div id= "buttons"><button id="ultra">RomBomb</button>
<button id="fast">Fast</button>
<button id="med">Med</button>
<button id="slow">Slow</button>
<button id= "Random">Randomize</button>
<button id= "clear">Clear</button>
</div>
</div>


 










